@using Oqtane.Modules.Controls
@using MarkDav.Module.Lottie.Services
@using MarkDav.Module.Lottie.Models

@namespace MarkDav.Module.Lottie
@inherits ModuleBase
@inject ILottieService LottieService
@inject NavigationManager NavigationManager
@inject IStringLocalizer<Edit> Localizer

<form @ref="form" class="@(validated ? " was-validated" : "needs-validation" )" novalidate>
    <div class="container">
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="name" HelpText="Enter a name" ResourceKey="Name">Name: </Label>
            <div class="col-sm-9">
                <input id="name" class="form-control" @bind="@_name" required />
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-success" @onclick="Save">@Localizer["Save"]</button>
    <NavLink class="btn btn-secondary" href="@NavigateUrl()">@Localizer["Cancel"]</NavLink>
    <br /><br />
    @if (PageState.Action == "Edit")
    {
    <AuditInfo CreatedBy="@_createdby" CreatedOn="@_createdon" ModifiedBy="@_modifiedby" ModifiedOn="@_modifiedon"></AuditInfo>
    }
</form>

@code {
    public override SecurityAccessLevel SecurityAccessLevel => SecurityAccessLevel.Edit;

    public override string Actions => "Add,Edit";

    public override string Title => "Manage Lottie";

    public override List<Resource> Resources => new List<Resource>()
    {
        new Resource { ResourceType = ResourceType.Stylesheet, Url = ModulePath() + "Module.css" }
    };

    private ElementReference form;
    private bool validated = false;

    private int _id;
    private string _name;
    private string _createdby;
    private DateTime _createdon;
    private string _modifiedby;
    private DateTime _modifiedon;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (PageState.Action == "Edit")
            {
                _id = Int32.Parse(PageState.QueryString["id"]);
                Lottie Lottie = await LottieService.GetLottieAsync(_id, ModuleState.ModuleId);
                if (Lottie != null)
                {
                    _name = Lottie.Name;
                    _createdby = Lottie.CreatedBy;
                    _createdon = Lottie.CreatedOn;
                    _modifiedby = Lottie.ModifiedBy;
                    _modifiedon = Lottie.ModifiedOn;
                }
            }
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading Lottie {LottieId} {Error}", _id, ex.Message);
            AddModuleMessage(Localizer["Message.LoadError"], MessageType.Error);
        }
    }

    private async Task Save()
    {
        try
        {
            validated = true;
            var interop = new Oqtane.UI.Interop(JSRuntime);
            if (await interop.FormValid(form))
            {
                if (PageState.Action == "Add")
                {
                    Lottie Lottie = new Lottie();
                    Lottie.ModuleId = ModuleState.ModuleId;
                    Lottie.Name = _name;
                    Lottie = await LottieService.AddLottieAsync(Lottie);
                    await logger.LogInformation("Lottie Added {Lottie}", Lottie);
                }
                else
                {
                    Lottie Lottie = await LottieService.GetLottieAsync(_id, ModuleState.ModuleId);
                    Lottie.Name = _name;
                    await LottieService.UpdateLottieAsync(Lottie);
                    await logger.LogInformation("Lottie Updated {Lottie}", Lottie);
                }
                NavigationManager.NavigateTo(NavigateUrl());
            }
            else
            {
                AddModuleMessage(Localizer["Message.SaveValidation"], MessageType.Warning);
            }
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Saving Lottie {Error}", ex.Message);
            AddModuleMessage(Localizer["Message.SaveError"], MessageType.Error);
        }
    }
}
